online-dynamic-batching[hf]>=0.1.2
odb-mm-mix-example @ git+https://github.com/online-dynamic-batching/odb-mm-mix-example.git
torch>=2.1
transformers>=4.49
accelerate>=0.30
datasets>=2.18
Pillow>=10
tqdm>=4.66
deepspeed>=0.14
